body {
    width : 800px;
    margin : 0 auto;
    font-family : Open Sans, Helvetica Neue, Arial, sans-serif;
}
h1{
    color : coral;
    text-align : center;
    font-size : 2.5rem;
    text-shadow: 3px 3px 3px black;
}
article{
    background-color: lightgoldenrodyellow;
    border-style : ridge;
    border-color: lightcoral;
    border-radius: 15px;
    padding: 25px;
    display: flex;
}
section {
    width: 250px;
    margin: 20px;
}
img {
    width: 240px;
    border-radius: 50%;
}
a {
    background-color: lightgoldenrodyellow;
    border-style : ridge;
    border-color: lightcoral;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    margin-top: 15px;
    text-align: center;
    display: block;
}
a:hover{
    background-color: lightsalmon;
    color : blue;
    cursor: pointer;
}